.pages {
  display: flex;
  gap: 20px;
  border-radius: 8px;

  .page {
    padding: 8px 16px;
    border-radius: 8px;
    color: #fcc917;
    background-color: #1f2a43;
    text-decoration: none;

    &.active {
      color: #1f2a43;
      background-color: #fcc917;
    }
  }
}
