.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px 50px;

  @media screen and (max-width: 1080px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 500px) {
    padding: 30px 15px;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    padding: 0 20px;
    font-size: 18px;

    .text {
      width: 100%;
      line-height: 1.5rem;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      font-size: 16px;
    }

    @media screen and (max-width: 400px) {
      font-size: 14px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    padding: 0 20px;
    font-size: 18px;

    .text {
      width: 100%;
      line-height: 1.5rem;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      font-size: 16px;
    }

    @media screen and (max-width: 400px) {
      font-size: 14px;
    }
  }
}
