.data {
  display: flex;
  flex-direction: column;
}

.forgotPassword {
  display: flex;
  align-items: center;

  .button {
    color: #000;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: rgba(255, 0, 0, 0.8);
    }
  }
}
