.container {
  display: grid;
  gap: 15px;

  .form {
    display: grid;
    gap: 15px;

    .top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      width: 100%;

      @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }

  .changePassword {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      color: #fcc917;
    }
  }
}
